body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.textbox {
  margin: 10px;
}

.navbar {
  background-color: #f1f1f1;
  overflow: hidden;
  position: sticky; /* Make the navbar sticky */
  top: 0; /* Stick to the top of the screen */
  z-index: 1; /* Stay on top of other elements */
}

.navbar a {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
}

.spacer {
  height: 2px;  /* Adjust this to position the iframe lower or higher on the page */
}

iframe {
  width: 100%;
  height: 600px;  /* Adjust this to change the size of the iframe */
  border: none;
}
